body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #66667f;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin: auto;
  border: 1px solid lightgray;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 0 0;
}

.container {
  width: 100%;
  display: flex;
  margin-top: 5rem;
}

.return {
  width: 27px;
}

.top-right {
  display: flex;
  margin: 0 20px;
  justify-content: center;
  justify-content: space-around;
}

.mic {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.set {
  width: 20px;
  height: 20px;
}


.body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  gap: 10px;
  margin-top: 20px;
  padding: 20px;
}

.back {
  color: aqua;
  font-size: 25px;
  margin-left: 20px;
  border-radius: 10px;
  border: solid aqua 1px;
}

.heading {
  margin-bottom: 10px;
  text-align: center;
}

.img {
    width: 95%;
    height: 149px;
    margin-left: 10px;
  }

.main-cont {
  display: flex;
  background-color: #ccf;
  padding: 5px 15px;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  height: 200px;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
}


.data-flag {
  display: flex;
  width: 100%;
  background-color: cadetblue;
}

.list {
  list-style: none;
}

.list p {
  background-color: aquamarine;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
}
