.body {
  display: grid;
  background-image: linear-gradient(236deg, #74ebd5, #acb6e5);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  height: 100vh;
}

.main-cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.return {
  width: 27px;
}

.top-right {
  display: flex;
}
